<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="Wision.Settings.DataSource" value="192.168.0.7"/>
    <add key="Wision.Settings.InitialCatalog" value="Veterinar"/>
    <add key="Wision.Settings.UserName" value="sa"/>
    <add key="Wision.Settings.Password" value="d2c-k~7b"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <trace enabled="false"/>
    <globalization requestEncoding="windows-1251" responseEncoding="windows-1251" culture="ru-RU" uiCulture="ru-RU"/>
    <authentication mode="None"/>
    <httpModules>
      <add name="WisionModule" type="Ideal.Wision.Core.WisionModule"/>
    </httpModules>
    <httpHandlers>
      <add path="iwcx/*.axd" verb="*" type="Ideal.WebControls.IdealWebControlsHandler, Ideal.WebControls" validate="False"/>
      <!-- handle /admin aspx pages by Wision Core -->
      <add path="admin/*.aspx" verb="*" type="Ideal.Wision.Core.WisionHttpHandlerFactory, Ideal.Wision" validate="False"/>
      <!-- do not map aspx pages in /nomap -->
      <add path="nomap/*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" validate="True"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>